@charset "UTF-8";

/*------------------------------
フォント
------------------------------*/

// 英字フォント Montserrat
@import url('https://fonts.google.com/specimen/Montserrat');

$font-family-japanese: '游ゴシック', "メイリオ", sans-serif;
$font-family-english: 'Montserrat' sans-serif;

body {
  font-family: $font-family-japanese;
}

.section-title {
  font-family: $font-family-english;
}

// ヘッダーメニュー
.header-nav-item-link {
  font-family: $font-family-english;
  font-size: 16px;
}

// 


/*------------------------------
レスポンシブ
------------------------------*/

$breakpoints: (
//キー　　値
 'sp': 'screen and (max-width: 767px)', //767px以下（スマホ）用の表示
 'sp_up': 'screen and (min-width: 768px)', //768px以上（タブレット）用の表示
 'pc_down': 'screen and (max-width: 1199px)', //1199px以下（タブレット）用の表示
 'pc': 'screen and (min-width: 1200px)', //1200px以上（PC）用の表示
) !default;

//メディアクエリ用のmixinを定義。
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  }

/*------------------------------
color
------------------------------*/
$primary-background-color1: #F3F3F3;
$primary-background-color2: #3E3E3E;
$primary-btn-color: #FFAA3B;
$primary-font-color: #3E3E3E;
$footer-color: #E3E3E3;

/*------------------------------
共通
------------------------------*/
body {
  font-family: 游ゴシック;
  // Montserrat ※ Google Fontsを利用 (https://fonts.google.com/specimen/Montserrat)
  background-color: $primary-background-color1;

}

img {
  width: 100%;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-weight: 600;;
}

p {
  font-weight: 300;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  color: $primary-font-color;
  padding: 0 40px;
  // reset.css border-boxが聞いてしまっていてpadding含めた値の長さになってしまうので1120pxになってしまう。content-boxを入れる
  box-sizing: content-box;

  @include mq('sp') {
    padding: 0 16px;
    
  }

}

.section-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: SemiBold;
  text-align: center;
  padding: 60px 0;

  @include mq('sp') {
    font-size: 30px;
    padding: 40px 0;

  }

}

@include mq('sp_up') {
  .is-sp {
    display: none;
  }
}

@include mq('pc_down') {
  .is-pc {
    display: none;
  }
}

@include mq('sp') {
  .is-sp-up {
    display: none;
  }
}

@include mq('pc') {
  .is-pc-down {
    display: none;
  }
}


.util-btn1 {
  font-size: 18px;
  font-weight: bold;
  padding: 16px 50px;
  display: block;
  background:#FFAA3B;
  color: #fff;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  border-radius: 10px;
  width: 280px;
  text-align: center;


  @include mq('sp') {
    font-size: 16px;
    padding: 16px 32px;
    margin: 0 auto;
  }

  &:hover {
    cursor: pointer;
    background: #F18900;
    transition: background-color .4s ;
  }
}

  .more-btn-wrapper {
    text-align: center;

    @include mq('sp') {
      text-align: center;
      padding-right: 0px;
    }
  }

  .view-btn-wrapper {
    text-align: left;

    @include mq('sp') {
      text-align: center;
      margin-right: 40px;
    }
  }

.util-btn2 {
  font-size: 20px;
  padding: 20px 80px;
  display: inline-block;
  letter-spacing: 4px;
  line-height: 1.125;
}

  .more-btn {
    background: #fff;
    color: $primary-font-color;
    border: solid 1px #707070;

    &:hover {
      background: $primary-background-color2;
      color: #fff;
      transition: background-color .4s ;
      border: 1px solid #fff;
    }
  }

  .view-btn {
    background: $primary-background-color2;
    color: #fff;
    border: solid 1px #fff;
    margin: 40px 0 60px;

    &:hover {
      background: #fff;
      color: $primary-background-color2;
      transition: background-color .4s ;
      border: 1px solid $primary-background-color2;
    }
  }






/*------------------------------
header
------------------------------*/

.header {
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .header-inner {
    display: flex;
    height: 83px;
    align-items: center;
  }

  .drawer-hamburger-icon {
    background-color: #3e3e3e;
    width: 26px;
    height: 4px;
    border-radius: 4px;

    .drawer-open & {
      background-color: transparent;
    }

    &::before, 
    &::after {
      background-color: #3e3e3e;
      width: 26px;
      height: 4px;
      border-radius: 4px;
      
      .drawer-open & {
        background-color: #fff;
      }

    }
  }

  .header-nav {
    margin: 0 auto;

    @include mq('sp') {
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }


  .header-menu {

    @include mq('sp_up') {
      display: flex;
      align-items: center;
    }

  }

  .header-nav-item {
    @include mq('sp_up') {
      margin-right: 40px;
      &:last-child {
        margin-right: 0px;
      }   
    }

    @include mq('sp') {
      margin-bottom: 20px;
    }

  .header-nav-item-link {
    color: $primary-font-color;
    display: block;
    padding: 0 0 10px;
    position: relative;

  &:before,
  &:after {
    border-bottom: solid 1px $primary-font-color;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    width: 0%;
  }
  &:before {
    left: 50%;
  }
  &:after {
    right: 50%;
  }
  
  @include mq('sp_up') {
    &:hover::before,
    &:hover::after {
      width: 50%;
    }
  }
    }
  }

}

/*------------------------------
main
------------------------------*/

.main {


}


/*------------------------------
top
------------------------------*/

.top {
  background: url('../img/mv.png') center center /cover;
  height: 648px;
  background-position: 24% center;
  position: relative;
  max-width: 100%;

  @include mq('sp') {
    height: 667px;
    width: auto;
  }


  .top-inner {
  }

  .top-message {
    padding: 228px 20px 0 ;
    max-width: 600px;
    margin-left: auto;

  }

  .top-title {
    font-size: 32px;
    letter-spacing: 0.02px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 40px;

    @include mq('sp') {
      font-size: 24px;
      margin-bottom: 32px;
    }
  }

  .top-text {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.45px;
    line-height: 1.5556;
    margin-bottom: 40px;

    @include mq('sp') {
      font-size: 14px;
    }
  }
}

/*------------------------------
news
------------------------------*/

.news {
  
  .news-inner {
    background-color: #fff;
    box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
    padding-bottom: 40px;
    margin: 120px auto;
    
    @include mq('sp_up') {
      max-width: 1200px;
      padding: 50px 48px 40px;
    }

    @include mq('sp') {
      margin:-40px 16px 0;
      position: relative;
      z-index: 1;
    }
  }

  .section-title {
    @include mq('pc') {
      padding-top: 0px;
    }
  }

  .news-contents {
    margin-bottom: 40px;
  }

  .news-content {
    border-top: 1px solid #f0f0f0;
    position: relative;

    &:last-child {
      border-bottom: 1px solid #f0f0f0;
    }

    @include mq('pc_down') {
      padding: 16px;
      padding-right: 40px;
    }

    &::after {
      content: "";
      width: 10.75px;
      height: 21.5px;
      position: absolute;
      top: 45%;
      right:10px;
      transform: translateY(-50%);
      // 確認したい２
      margin-top: 8px;
      background: transparent url(../img/news-arrow-1.svg) no-repeat center center / contain;
    }
  }

  .news-content-link {
    color: #3e3e3e;
    letter-spacing: .025em;
    position: relative;
    transition: background-color .2s;
    align-items: center;
    padding: 38px 110px 38px 12px;
    
    @include mq('pc') {
      display: flex;
      &:hover {
      background: rgba(73, 115, 255, 0.1);
    }
    }

  }

  .news-header {
    display: flex;
    align-items: center;
  }

  .news-day {
    font-size: 18px;
    letter-spacing: .45px;
    line-height: 1.444;
    vertical-align: middle;
    // ★確認したい２
    margin-top: 8px;

    @include mq('pc') {
      flex: 0 0 120px;
    }

    @include mq('sp') {
      font-size: 14px;
    }
  }

  .news-title {
    height: 25px;
    font-size: 14px;
    letter-spacing: .35px;
    line-height: 1.857;
    border: 2px solid #4973ff;
    border-radius: 30px;
    display:inline-block;
    padding: 0px 32px 8px;
    // 定規したい
    margin: 0 32px;
    background: #fff;
    text-align: center;

    @include mq('pc') {
      flex: 0 0 130px;
    }
    
    @include mq('sp') {
     font-size: 14px;
    }

    .news-text {
      // width: 418px;
    }

  }

  .news-body {
    flex: 0 1 68%;

    @include mq('pc_down') {
      margin-top: 8px;
      line-height: 1.4;
    }
    
    @include mq('sp') {  
      font-size: 14px;
    }
  }
}



/*------------------------------
service
------------------------------*/

.service {
  position: relative;

  ::before {
    content:"";
    width: 100%;
    height: 400px;
    background-color: $primary-background-color2;
    opacity: .4;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    z-index: -1;

    @include mq('sp') {
      height: 480px;
    }
  }

  .section-title {
    color: #fff;
  }

  .service-contents {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 120px;
    background-color: #fff;
    padding: 56px 45px 40px;
    box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
    // z-index: 2;

    @include mq('sp_up') {
      display: flex;
   }

   @include mq('sp') {
     padding: 40px 16px;
     margin:0 16px 60px;
   }
  }

  .service-content {
    margin: 20px auto;

    @include mq('sp_up') {
      margin-right: 90px;

      &:last-child {
        margin-right: 0px;
      }
    }

    @include mq('sp') {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

  }

  .service-content-image {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    margin-bottom: 8px;
  }

  .service-content-title {
    font-size: 20px;
    text-align: center;
    letter-spacing: 4px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .service-content-text {
    font-size: 14px;
    line-height: 1.714;
  }
}



/*------------------------------
results
------------------------------*/

.results {
  position: relative;
  max-width: 1240px;
  margin-left:auto;

  .results-inner {
    background-color: $primary-background-color2;
    // max-width: 1240px;
    padding-right: 0px;
    padding-left: 40px;
    margin-right: 0px;
    overflow: hidden;

    @include mq('sp') {
      width: 100%;
    }
  }
  
  .section-title {
    color: #fff;
    text-align: left;
    
    @include mq('sp') {
      text-align: center;
      margin-right: 80px;
    }
  }

  .results-contents {
    display: flex;
  }

  .results-content {
    width: 400px;
    margin-right: 40px;
    // flex: 0 0 400px;

    &:last-child {
      margin-right: 0px;
    }

    @include mq('sp') {
      width: 274px;
      // height: 253px;
    }
  }

.results-content-link {
  @include mq('sp') {
    width: 274px;
    // height: 253px;
  }
}

  .results-content-image {
    @include mq('sp') {
      width: 274px;
      // height: 253px;
    }
  }

  .results-content-text {
    background-color: #fff;
    color: $primary-font-color;
    padding: 16px;

    @include mq('sp') {
      width: 274px;
      // height:82px;
    }

    .results-title {
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 16px;

      @include mq('sp') {
        font-size: 14px;
      }
    }

    .results-text {
      font-size: 16px;
      line-height: 1.5;

      @include mq('sp') {
        font-size: 12px;
      }
    }
  }
  
  .swiper-pagination-bullet {
    background: #fff;
    height: 12px;
    margin: 40px 20px 40px 0px !important;
    opacity: 1;
    position: relative;
    width: 12px;

    &:focus {
      outline: none;
    }

    &.swiper-pagination-bullet-active:after {
      border: solid 1px #fff;
      border-radius: 50%;
      content: '';
      display: block;
      height: 20px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
    }
  }  

  .view-btn {
    margin-top: 90px;
  }
}


/*------------------------------
price
------------------------------*/

.price {
  margin-bottom: 144px;

  @include mq('sp') {
    margin-bottom: 60px;
  }

  .price-table {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border: 1px solid #707070;
    border-collapse: collapse;
    background-color: #fff;
    table-layout: fixed;
    position: relative;


    th, td {
      padding: 16px 40px;
      border: 1px solid #707070;
      font-weight: bold;
      line-height: 1.2;
      font-size: 24px;
      @include mq('sp') {
        font-size: 20px;
      }
  }

  th {
    background-color: $primary-background-color2;
    color: #fff;
    vertical-align: middle;
    width: 30%;
  }

  td {
    width: 70%;
  }

}

.price-text {
  font-size: 12px;
  line-height: 1.67;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 12px;

}


}

/*------------------------------
comments
------------------------------*/

.comments {
  position: relative;

  @include mq('pc') {
    ::before {
      content:"";
      width: 960px;
      height: 576px;
      background-color: $primary-background-color2;
      position: absolute;
      top: 148px;
      left:0;
      z-index: -1;
    }
  }

  @include mq('pc_down') {
    ::before {
      content:"";
      width: 100%;
      max-width: 1200px;
      height: 100%;
      background-color: $primary-background-color2;
      position: absolute;
      left: 0;
      top: 75px;
      bottom: 0;
      z-index: -1;
    }
  }


  .comments-inner {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
      
    @include mq('sp') {
      padding-bottom: 60px;
    }
  }

  .section-title {
    color: $primary-font-color;
    text-align: left;
  }

  .comments-contents {
    // max-width: 666px;
    margin-bottom: 100px;
    background-color: #fff;
    padding: 60px;
    box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
    // z-index: 2;

   @include mq('sp') {
     padding: 0px 16px;
     margin:0 16px 0;
   }
  }

  .comments-content {
    padding-bottom: 60px;
    display: flex;

    @include mq('sp') {
      padding-bottom: 30px;
    }

  }

  .comments-content-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 8px;

    @include mq('sp') {
      width: 56px;
      height: 56px;
    }
  }

  .comments-text {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 32px;

    @include mq('sp') {
      font-size: 14px;
    }
  }

  .comments-figure {
    width: 100%;
    flex: 0 0 45%;
    margin-top: 75px;
  }
  ;
}


/*------------------------------
faqs
------------------------------*/

.faqs {
  position: relative;

  @include mq('sp') {
    height: 100%;
    background: url(../img/qa-bg.png) center center / cover;
  }

  @include mq('sp_up') {
    // padding-top: 74.375%;
    height: 100%;
    width: 100%;
    background: url(../img/qa-bg.png) center center / cover;
  }

  .faqs-inner {


    @include mq('sp') {
      // position: absolute;
      top: 0;
    }

    @include mq('pc') {
      // position: absolute;
      top: 0px;
      left: 50%;
      // transform: transitionX(-50%);
    }
  }

  .section-title {
    top: 0;
  }

  .faqs-contents {

    margin-left: auto;
    width: 612px;
    padding-bottom: 120px;
    width: 50%;

    @include mq('sp') {
    padding-bottom: 60px;
    width: 100%;
    }

    
    .faqs-content {
      margin-bottom: 32px;
      background-color: #fff;
      border-radius: 4px;
      cursor: pointer;
      padding: 0 18px;
      
    }

    .faqs-content-title {

      display: block;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
      padding: 20px 56px;
      position: relative;

      &:before {
        background: #4973ff;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: transform .3s;
        width: 15px;
        letter-spacing: normal;
      }
    
      &:after {
        background: #4973ff;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        right: 0;
        top: 50%;
        transition: transform .3s;
        width: 15px;
        transform: translateY(-50%) rotate(90deg);
      }      
    }

    .faqs-content-title.is-open:after {
      transform: translateY(-50%) rotate(0);
    }

    .faqs-content-text {
      padding: 16px;
      display: none;
    }

    .accordion-body {
      background-color: rgba(59, 105, 255, 0.2);
      font-size: 14px;
      line-height: 1.4286;
      padding:12px;
      border-radius: 4px;
    }
  }
}

/*------------------------------
ACCESS
------------------------------*/

  .access {
    position: relative;
    margin: 0 auto;

    @include mq('pc') {
      ::before {
        content:"";
        width: 980px;
        height: 504px;
        background-color: $primary-background-color2;
        position: absolute;
        left:0;
        top:0;
        z-index: -1;
    }
    }

    @include mq('pc_down') {
      background-color: $primary-background-color2;
    }

    .access-inner {
      padding-left: 100px;


      @include mq('sp') {
        padding: 40px 16px 0;   
      }

    }
    
    .section-title {
      text-align: left;
      color: #fff;

      @include mq('sp_up') {
        padding-top: 120px;
      }
    }

    .access-flex {
      @include mq('sp_up') {
        display: flex;
      }
    }

    @include mq('sp') {
      width: 100%;
    }

    .access-text {
      font-size: 16px;
      line-height: 1.5;
      min-width: 400px;
      color: #fff;
    }
  }

  .access-map {
    width: 100%;
    
    @include mq('sp_up') {
      margin-top: -120px;
    }
    
    iframe {
      margin-top: 20px;
      width: 100%;
      height: 540px;
      max-width:726px;

      @include mq('sp') {
        height: 240px;
      }
    }
}

.util-btn-wrapper2 {
  @include mq('sp') {
    text-align: center;
  }

  .util-btn2 {
    @include mq('sp') {
      width: 100%;
    }
}

}


/*------------------------------
top
------------------------------*/

/*------------------------------
contact
------------------------------*/

.contact {
  // padding-top: 87.65%;
  // padding: 60px 160px;
  background: url(../img/contact-bg.png) center center / cover;
  position: relative;
	// padding: 40px 16px;
  padding:60px 16px 40px;


  .contact-inner {
    // text-align: center;
    margin: 0 auto;
    max-width: 960px;
    // height: 1004px;
    background: #fff;
    // position: absolute;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%);
    border-radius: 12px;
    padding-bottom: 40px;
  }

  .contact-title-wrapper {
    background: url(../img/contact1.png) center (center / cover);
    color: #fff;
    padding-bottom: 60px;
    text-align: center;
    border-radius: 12px 12px 0 0;
  }
  
  .section-title {
    padding-bottom: 16px;
  }

  .contact-item {
    margin-bottom: 32px;
  }

  .contact-lead {
    @include mq('sp') {
      font-size: 14px;
    }
  }

  .contact-form-wrapper {
    margin: 60px 120px;

    @include mq('sp') {
      margin: 40px 12px;
    }
  }

  .contact-list {
    max-width: 720px;
  }

  .contact-item {
    
    @include mq('sp_up') {
      display: flex;
      align-items: center;
    }
  }

  .contact-select {
    height: 40px;
    width: 260px;
    padding: 0 34px 0 8px;

   &:hover {
    box-shadow: 0 0 4px #4973ff;
    }

    @include mq('sp') {
      width: 100%;
      font-size: 14px;
    }

    &::-ms-expand {
      display: none;
    }
  }

  
  .contact-radio-wrap {
    display: flex;
  }

  .contact-radio {
    margin-right: 40px;
  }

  .contact-radio-input {
    border: #3E3E3E;
    opacity: 0;

    + .contact-radio-part {
      position: relative;    
      cursor: pointer;
      display: inline-block;
              /* 擬似要素beforeとafterを共通でセット */
              &::before,
              &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }
          
              &::before {
                background: #fff;
                border: 1px solid #3e3e3e;
                left: -20px;
                width: 12px;
                height: 12px;
                transition: 0.2s;
                border-radius: 50%;
              }
          
              &::after {
                background: #3B69FF;
                border-radius: 50%;
                left: -16px;
                width: 6px;
                height: 6px;
                opacity: 0;
              } 
    }
    
    &:checked {
      + .contact-radio-part {
        &::after {
          opacity: 1;
        }
      }
    }

    &:focus {
      + .contact-radio-part {
        &::before {
          outline: -webkit-focus-ring-color auto 1px;
        }
      }
    }

    &:hover {
      + .contact-radio-part {
        &::before {
          box-shadow: 0 0 4px #4973ff;
          border-color: #4973ff;
        }
      }
    }
  }

  
  .contact-item-title {
    font-weight: bold;
    line-height: 32px;  
    text-align: left;
    flex:0 0 188px;
  }

  .contact-item-title-inline {
    color: #fff;
    background: #FF4646;
    margin-left: 20px;
    width: 40px;
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 4px

  }

  .contact-item-input {
    margin-left: auto;
    flex: 0 1 100%;
  }
  
  .contact-item-input input {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-left: auto;
    height: 32px;
    width: 100%;
    transition: .2s;

      &:hover, &:focus {
        border-color: #4973ff;
        outline: none;
    }
  }

  .contact-item-input textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    margin-bottom: 40px;
    transition: .2s;

    &:hover, &:focus {
      box-shadow: 0 0 4px #4973ff;
      border-color: #4973ff;
      outline: none;
  }
  }

  .contact-privacy {
    vertical-align: middle;
  }

  .contact-privacy-input {
    opacity: 0;
    padding: 15px;

    + .contact-privacy-part {
      position: relative;
      cursor: pointer;
      display: inline-block;
      
      &::before,
      &::after {
        content: "";
        position: absolute;
      }

      &::before {
        width: 18px;
        height: 18px;
        border: 1px solid #3e3e3e;
        left: -25px;
        top: -18px;
        background: #fff;
        display: block;
      }

      &::after {
        content: "";
        width: 5px;
        height: 10px;
        border: 2px solid  #4973ff;
        border-left: none;
        border-top: none;
        left: -18px;
        top:-16px;
        transform: rotate(45deg);
        opacity: 0;
        
      }
    }
    
    &:checked {
      + .contact-privacy-part {
        &::after {
          opacity: 1;
        }
      }
    }

    &:focus {
      + .contact-privacy-part {
        &::before {
          outline: -webkit-focus-ring-color auto 1px;
        }
      }
    }
    
    &:hover, &:focus {
    box-shadow: 0 0 4px #4973ff;
    border-color: #4973ff;
    outline: none;
  }
  }

  .contact-privacy-link {
    color: $primary-font-color;
    display: inline-block;
    margin-right: auto;
    margin-bottom: 40px;

  }

  .contact-footer-submit {
  }
}



/*------------------------------
footer
------------------------------*/

footer {
  background: $primary-background-color2;
  color: #fff;
  padding: 60px 0 ;

  .footer-inner {
    max-width: 960px;
    padding: 0 120px;

    @include mq('sp_up') {
      display: flex;
      justify-content: space-between;
    }

    @include mq('sp') {
      text-align: center;
    }
  }

  .footer-left {

  }

  .footer-right {

  }

  .footer-sns-content {
    @include mq('sp_up') {
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      } 
    }

    @include mq('sp') {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      } 
    }
  }

  .footer-sns-contents {
    display: flex;
    padding-bottom: 43px;
    
    @include mq('sp') {
      justify-content: center;
    }
  }
  
  .footer-sns-item-link {
    color: $footer-color;
    font-size: 36px;
    

  }

  .footer-privacy-content {
    margin-bottom: 24px;

  }

  .footer-privacy-content-link {
    color: #fff;
    display: inline-block;
  }

  .footer-right {
    @include mq('sp') {
      text-align: center;
    }
  }

  .footer-logo {
    font-size: 40px;
    font-weight: bold;
    color: $footer-color;
    margin-bottom: 10px;

    @include mq('sp') {
    font-size: 32px;
    }
  }

  .footer-copyright {
    color: $footer-color;
    font-size: 12px;
    
    @include mq('sp_up') {
      text-align: right;
    }
  }
}

/*------------------------------
top
------------------------------*/

.totop {
  width: 90px;
  height: 90px;
  z-index: 30;
  position: fixed;
  bottom: 24px;
  right: 24px;
  visibility: hidden;   
  transition: all 0.3s ease 0s; 
  text-align: center;
  border-radius: 20%;

  :hover {
    cursor: pointer;
  }
  
  .fa-sort-up {
    color: white;
    font-size: 50px;
    display: block;
    padding: 15px;
  }

  &.is-show {
    visibility: visible;
  } 

}

